.logo_place_header {
    background-image: url('../../../images/logo_place_header.svg');
    position: absolute;
    height: 32px;
    align-self: flex-start;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 1;
}

.logo_place_header:hover {
    opacity: 0.5;
}