@keyframes rotation {
from {
    transform: rotate(-15deg);
}
to {
    transform : rotate(345deg);
}
}

.animation {
    animation: rotation 20s linear infinite;
}

@keyframes rotation_type_triangle {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.animation {
    animation: rotation 20s linear infinite;
}
